.profile {
  width: 80%;
  margin: 0 auto;
  .profile-container {
    display: flex;
    margin-top: 10vh;
    .user-image {
      .profile-image {
        width: 30vw;
        height: 30vw;
        max-width: 200px;
        max-height: 200px;
        border-radius: 15vw;
        overflow: hidden;
        .image {
          height: 100%;
          position: relative;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
      .img-change-btn {
        justify-content: center;
        display: block;
        margin: 5vh auto;
        padding: 4px;
        width: 10vw;
        .camera {
          font-size: 22px;
        }
      }
    }
    .file-chooser {
      display: none;
    }
    .user-profile-info {
      width: 100%;
      padding: 3vh;
      .form-label {
        width: 25vw;
        display: block;
        margin: 0 auto;
        padding: 1.7vh;
      }
      .form-field {
        width: 25vw;
        display: block;
        margin: 0 auto;
        font-size: 15px;
        padding: 1.7vh;
      }
      .form-btn {
        width: 25vw;
        display: block;
        margin: 4vh auto;
        outline: none;
        outline-style: none;
        .btn-save {
          float: right;
          width: 30%;
          height: 8vh;
          background-color: #8dbcf4;
          border: 0;
          border-radius: 1vw;
          font-size: 18px;
          margin: 20px 0;
        }
      }
    }
  }
  .record {
    width: 100%;
    display: block;
    background-color: #fff;
    padding: 10px;
    margin: 40px 0;
    .record-container {
      margin: 20px 10px;
      .record-sub-container {
        display: block;
        width: 100%;
      }
    }
  }
}
