.learn {
  .header {
    text-align: center;
    margin-bottom: 20px;
  }
  .chapter-selection {
    .arrow {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }
    .right {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
    }
    .next-chap {
      float: right;
      margin-right: 7%;
      cursor: pointer;
    }
  }
  .clearFix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .find {
    float: right;
    background-color: transparent;
    color: #000000;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000000 1px;
    padding: 3px 10px;
    font-size: 20px;
    box-sizing: border-box;
  }
  .block {
    // display: block;
    width: 60%;
    margin: 25px auto;
    padding: 10px;
    background: white;
    border-radius: 15px;
    box-shadow: 10px 10px #888888;
    cursor: pointer;
    .mean {
      float: left;
      margin-left: 12%;
      .kanji {
        font-size: 25px;
        font-weight: bold;
        margin-right: 15px;
      }
    }
    .logo {
      float: right;
      width: 8%;
      border-radius: 50%;
      margin-right: 12%;
      margin-top: 6px;
    }
  }
}

.pagination  {
  width: 60%;
  margin: 50px auto;
  padding: 0;
  list-style: none;
  outline: none;
  
   .active {
      a, span, a:hover, span:hover, a:focus, span:focus{
        background-color: #E91E63  ;
        border-color: #E91E63 ;
        outline: none ;
      }
   }
   .disabled{
    pointer-events:none; //This makes it not clickable
    opacity:0.6;  
   }
   li {
     margin: 15px auto;
      a{
        border: 1px solid #EB9FA1   ;
        padding: 5px 10px;
        outline: none;
        list-style: none;
        cursor: pointer;
      }
      span {
        color: #E91E63 
      }
   } 
   .next{
     float: left;
   }
   .next2{
     float: right;
   }
}

@media only screen and (max-width: 1024px) {
    .pagination{
      width: 50%;
      margin: 0 auto;
    .hole{
     visibility: hidden;
     width: 0;
    }
  }  
 }

 @media only screen and (max-width: 762px) {
   .learn{
    .header {
      font-size: 1.5em;
    }
    .find {
      float: right;
      margin-right: 15px;
      padding: 1px 2px;
      font-size: 12px;
    }
    .block{
      width: 45%;
      height: 6em;
      margin: 8px 2.5%;
      padding: 8px;
      cursor: pointer;
      float: left;
      box-shadow: 5px 5px #888888;
      box-sizing: border-box;
      .mean {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
        .kanji {
          font-size: 15px;
          font-weight: bold;
          margin-right: 15px;
          display: block;
          text-align: center;
        }
      }
      .logo {
        visibility: hidden;
        width: 0;
      }
     }
     .block:nth-child( odd ) {
      margin-right: 1.5%;
  }
    .pagination{
      width: 95%;
      margin: 0 auto;
      padding: 0;
      li{
        margin: 10px 5px;
      }
      a{
      font-size: 12px;
      padding: 5px;
      }
   }
  }  
}