.content {
  .clearFix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    visibility: hidden;
  }
  .content-logo {
    height: 400px;
    .logo1 {
      float: left;
      width: 64%;
      .content-log1 {
        height: 200px;
        background-image: url("../../img/content2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        display: block;
        margin-left: 50%;
        margin-top: 9%;
      }
    }
    .content-log2 {
      float: right;
      width: 30%;
      height: 350px;
      background-image: url("../../img/content1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-position: center;
      background-size: 80%;
    }
  }
  .content-section {
    width: 100%;
    .main-section {
      display: flex;
      width: 50%;
      margin: 0 auto;
      .section {
        width: 33%;
        flex-direction: column;
        border: 0;
        font-weight: bold;
        .link {
          display: block;
          margin: 0 auto;
          padding: 2.5vw;
          width: 27%;
          border: 0;
          border-radius: 50%;
          background-color: #ea736a;
          text-align: center;
        }
      }
    }
    a {
      text-decoration: none;
      color: #000;
    }
  }

  @media screen and (max-width: 1366px) and (min-width: 1024px) {
    .content-section {
      .main-section {
        .section {
          .link {
            width: 30%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    .content-section {
      .main-section {
        .section {
          .link {
            width: 42%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 767px) and (min-width: 700px) {
    .content-logo {
      height: 300px;
      .content-log2 {
        height: 290px;
      }
    }
    .content-section {
      .main-section {
        .section {
          .link {
            width: 45%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 699px) and (min-width: 300px) {
    .content-logo {
      height: 280px;
      .logo1 {
        width: 75%;
        .content-log1 {
          margin: 0 10%;
        }
      }
      .content-log2 {
        width: 25%;
        height: 220px;
      }
    }
    .content-section {
      width: 100%;
      .main-section {
        display: block;
        width: 45%;
        .section {
          width: 100%;
          display: block;
          .link {
            margin: 20px auto;
            padding: 6px;
            width: 100%;
            border: 0;
            border-radius: 30px;
          }
        }
      }
    }
  }
}
