.root {
  flex-grow: 1;
  .top-image {
    // float: left;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 8px;
  }
  .nav-list{
    float: left;
    display: flex;
    margin-left: 5em;
    padding: 0;
    // padding-bottom: 40px;
    list-style: none;
    outline: none;

      .space-between{
        margin: 10px 50px;
      }
      a {
        float: left;
        font-size: 17px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .dropdown {
        float: left;
        overflow: hidden;
        margin: 0;
        padding: 0;
        margin: 10px 50px;
      }
      
      .dropdown .dropbtn {
        font-size: 17px;  
        border: none;
        outline: none;
        color: white;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
        padding: 14px 16px;
        cursor: pointer;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        float: none;
        color: black;
        padding: 10px 15px;
        margin: 0;
        text-decoration: none;
        display: block;
        text-align: left;
        cursor: pointer;
      }
      
      .dropdown-content a:hover {
        background-color: #ddd;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    }
  @media only screen and (max-width: 768px) {
    .nav-list {
      margin-left: 1em;
      .space-between{
        margin: 5px;
      }
      .dropdown {
        margin: 5px;
      }
    }
  }
  @media only screen and (max-width: 540px) {
    .nav-list {
      margin-left: 0;
      .space-between{
        margin: 5px;
      }
      .dropdown {
        margin: 5px;
      }
    }
  }
  .profile-image {
    width: 30vw;
    height: 30vw;
    max-width: 200px;
    max-height: 200px;
    border-radius: 15vw;
    overflow: hidden;
    .img {
      height: 100%;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  .MuiAppBar-colorPrimary {
    background-color: #ea736a !important;
    .MuiTypography-h6 {
      font-size: 20px !important;
    }
    .MuiSvgIcon-root {
      font-size: 2.5rem !important;
    }
  }
  .title {
    flex-grow: 1;
  }
}
// .select-page {
//   width: 12vw;
//   font-size: 25px;
//   font-weight: bold;
//   border: 0;
//   background-color: transparent;
//   color: #000000;
//   outline: none;
//   optgroup,
//   option {
//     font-size: 15px;
//     background-color: #ea736e;
//   }
// }
