.exam-result {
  display: block;
  width: 100%;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;

    thead {
      tr {
        background-color: #dddddd;
      }
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
      border: 0;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }
}
